**/.idea
**/__working__
.vscode
__pycache__
uploads/*
!uploads/.gitkeep
uploads/attachments/*
!uploads/attachments/.gitkeep
templates/reports_*.xlsx
templates/report_*.xlsx
.env
.indexes
.email_lists.json
