<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Global css and js used across all content -->
            
    <!-- Bootstrap CSS. Note: bootstrap and popper js are in footer -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" 
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">

    <!-- jQuery and jQuery UI -->
    <script src="/static/jquery-3.4.1.min.js"></script>

    <!-- Extra imports disabled for now, enable if needed -->
    {# <link rel="stylesheet" href="/static/assets/js/jquery-ui.css">
    <script src="/static/assets/js/jquery-ui.min.js"></script> #}

    <!-- Chosen select box -->
    {# <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script> #}

    <!-- Custom CSS, js common lib -->
    <link rel="stylesheet" type="text/css" href="/static/spill.css">
    <title>{% block title %}{% endblock %} - CCG/DFO Spill Tracker</title>
    {# <title>{{ title }}</title> #}

</head>
