
    
    <table class="mb-0 p-1">
    <thead>
        <tr>
            <td>Report:</td>
            <td><a href="{{ url_for('report.show_report', report_num=spill.report_num) }}" target="_blank">{{ spill.report_name }} ({{ spill.report_num }})</a></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pollutant</td>
            <td>{{ spill.pollutant }}</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>{{ spill.quantity }}</td>
        </tr>
        <tr>
            <td>Quantity Units</td>
            <td>{{ spill.quantity_units }}</td>
        </tr>

    </tbody>
    </table>

