<p>{{ _('Welcome to marinepollution.ca, %(email)s!', email=user.email) }}</p>

<h3>This email confirms your registration for the CCG/DFO POLREP service.</h3>

<p>This is a prototype database and is not intended to be used operationally. If you would like to provide feedback about the prototype, please contact Nicholas Benoy at DFO (email address can be found in your address book)</p>

{% if security.confirmable %}
<p>{{ _('You can confirm your email through the link below:') }}</p>

<p><a href="{{ confirmation_link }}">{{ _('Confirm my account') }}</a></p>
{% endif %}
