
{% extends "_base.html" %}
{% block fullpage %}

{% set title = 'Home - CCG/DFO Spill Tracker' %}

<main id="spillTrackerHome" role="main">
{# class="exxon" #}

    <div class="container">
    <div class="content">
    <div class="jumbotron">
        <h1 class="display-4">CCG/DFO Spill Tracker</h1>
        <p class="lead">Welcome to the CCG/DFO Spill Tracker system. Please choose an option from the toolbar above. </p>
        <hr class="my-4">
    </div>
    </div>  <!-- content -->
    </div>   <!-- container -->
</main>

{% endblock fullpage %}
