{% extends "_base.html" %}
{% block content %}

<!-- Leaflet for coordinate map preview -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

{% set title = 'New/Update Report - CCG/DFO Spill Tracker' %}

{# <script type="text/javascript" src="/static/map_init.js"></script> #}

<main id="reportUpdate" role="main">

<h2>{{ action }} Pollution Report
{% if action == 'Update' %}
    ({{ report.report_num }})
{% endif %}
</h2>

<form id="reportForm" class="mb-5" action="/save_report_data" method="post" enctype="multipart/form-data">
            
    <!-- Hidden Input for spill id, only used if updating  -->
    <input class="spilldata" type="hidden" id="spill_id" name="spill_id" 
        value="{% if action == 'Update' %} {{ report.spill_id}} {% endif %}">

    <div class="form-group">
        <label for="report_num">Report # </label>
        <input type="text" class="form-control spilldata" id="report_num" name="report_num" 
            aria-describedby="reportNumHelp" pattern="[0-9]{4}-[0-9]{4}"
            placeholder="YYYY-0000" value="{{ report.report_num }}" required>
            <small id="reportNumHelp" class="form-text text-muted">YEAR-REPORT_NUMBER (4 digits) - e.g. 2020-0132</small>
    </div>

    <div class="form-group">
        <label for="report_name">Report Name</label>
        <input type="text" class="form-control spilldata" id="report_name" name="report_name" 
            aria-describedby="reportNameHelp" value="{{ report.report_name }}" required>
            <small id="reportNameHelp" class="form-text text-muted">Enter a unique, short name for this report.</small>
    </div>

    <div class="form-group" {# Hide this field if a New report #}
        {% if action == 'New' %} style="display:none" 
        {% endif %}>
        <label for="update_text">Update Text</label>
        <textarea rows="5" class="form-control spilldata" id="update_text" name="update_text" 
            aria-describedby="updateHelp">{{ report.update_text }}</textarea>
            <small id="updateHelp" class="form-text text-muted">All update information can be entered here.</small>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="report_date">Report Date</label>
            <input type="datetime-local" class="form-control spilldata" id="report_date" name="report_date"
                value="{{ report.report_date_html }}">
        </div>

        <div class="form-group ml-5">
            <label for="report_timezone">Timezone</label>
            <select class="form-control spilldata" id="report_timezone" name="report_timezone">
                {% for tz in lookups.timezones %}
                    <option value="{{ tz }}" 
                        {% if report.report_timezone==tz %} selected {% endif %}>
                        {{ tz }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="spill_date">Spill Date</label>
            <input type="datetime-local" class="form-control spilldata" id="spill_date" name="spill_date"
                value="{{ report.spill_date_html }}">
        </div>

        <div class="form-group ml-5">
            <label for="spill_timezone">Timezone</label>
            <select class="form-control spilldata" id="spill_timezone" name="spill_timezone">
                {% for tz in lookups.timezones %}
                    <option value="{{ tz }}"
                        {% if report.spill_timezone==tz %} selected {% endif %}>
                        {{ tz }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <hr>
    <h4>Reporting Party</h4>
    <div class="form-group">
        <label for="name_reporter">Name</label>
        <input type="text" class="form-control spilldata" id="name_reporter" 
            name="name_reporter" aria-describedby="nameHelp" value="{{ report.name_reporter }}">
        <small id="nameHelp" class="form-text text-muted">Reporter's personal details will never be shared outside this service.</small>
    </div>

    <div class="form-group">
        <label for="email_reporter">Email</label>
        <input type="email" class="form-control spilldata" id="email_reporter" name="email_reporter"
            placeholder="Enter email" value="{{ report.email_reporter }}">
    </div>
    <div class="form-group">
        <label for="phone_reporter">Phone Number</label>
        <input type="tel" class="form-control spilldata" id="phone_reporter" name="phone_reporter"  placeholder="XXX-XXX-XXXX" 
            aria-describedby="phoneHelp" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            value="{{ report.phone_reporter }}">
        <small id="phoneHelp" class="form-text text-muted">Enter the 10-digit number, including area code and hyphens.</small>
    </div>

    <hr>
    <h4>Situation Details</h4>
    <div class="form-row">
        <div class="form-group">
            <label for="coordinate_type">Coordinates Type</label>
            <select class="form-control spilldata" id="coordinate_type" name="coordinate_type" aria-describedby="coordTypeHelp">
                <option value=""></option>
                {% for coord in lookups.coord_types %}
                    <option value="{{ coord }}"
                        {% if report.coordinate_type==coord %} selected {% endif %}>
                        {{ coord }}</option>
                {% endfor %}
            </select>
            <small id="coordTypeHelp" class="form-text text-muted">
                Coordinates internally stored as latitude-longitude.
            </small>
        </div>
        <div class="form-group ml-5">
            <label for="coordinates">Coordinates</label>
            <input type="text" class="form-control spilldata" id="coordinates" 
                name="coordinates" size="70" value="{{ report.coordinates }}" aria-describedby="coordHelp"
                pattern="{{ report.coord_pattern }}" placeholder="{{ report.coord_placeholder }}">
            <small id="coordHelp" class="form-text text-muted">
                {{ report.coord_help }}
            </small>
        </div>
    </div>

    <h5>Map Preview</h5>

    <div>Please update the coordinates in the field above. When finished entering coordinates, click outside the coordinate field and the map below will update automatically.</div>
    <div class="form-group form-inline">
        <label for="latitude">Latitude:</label>
        <input type="number" class="form-control spilldata ml-2" id="latitude" name="latitude"
            value="{{ report.latitude }}" readonly>
        <label for="longitude" class="ml-5">Longitude:</label>
        <input type="number" class="form-control spilldata ml-2" id="longitude" name="longitude"
            value="{{ report.longitude }}" readonly>
    </div>
    {# <div class="form-group form-inline">
        
    </div> #}
    {# Set values for lat-lon in HTML data #}
    <div id="coordInfo" data-latitude="{{ report.latitude }}" data-longitude="{{ report.longitude }}" data-markerdrag="true"></div>

    {# <div class="d-inline mr-2">Latitude: </div> <div class="d-inline" id="latitude_calc"></div>
    <br>
    <div class="d-inline mr-2">Longitude: </div> <div class="d-inline" id="longitude_calc"></div> #}
    
    <div class="text-danger d-none" id="coord_error"></div>

    <div id="mapid" class="mt-3 mb-3"></div>

    <div class="form-group">
        <label for="location_description">Location/Position Description</label>
        <textarea rows="5" class="form-control spilldata" id="location_description" name="location_description" 
            placeholder="Describe the location">{{ report.location_description }}</textarea>
    </div>

    <div class="form-group">
        <label for="pollutant">Type of Pollutant</label>
        <select class="form-control spilldata" id="pollutant" name="pollutant">
            <option value=""></option>
            {% for poll in lookups.poll_types %}
                <option value="{{ poll }}"
                    {% if report.pollutant==poll %} selected {% endif %}>
                    {{ poll }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="pollutant_details">Pollutant Details</label>
        <textarea rows="5" class="form-control spilldata" id="pollutant_details" 
            name="pollutant_details">{{ report.pollutant_details }}</textarea>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="quantity_units">Quantity Units</label>
            <select class="form-control spilldata" id="quantity_units" name="quantity_units">
                <option value=""></option>
                {% for unit in lookups.quantity_units %}
                    <option value="{{ unit }}"
                        {% if report.quantity_units==unit %} selected {% endif %}>
                        {{ unit }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group ml-5">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control spilldata" id="quantity" name="quantity" 
                size="50" value="{{ report.quantity }}">
        </div>
    </div>

    <div class="form-group">
        <label for="colour_odour">Colour/Odour</label>
        <textarea rows="5" class="form-control spilldata" id="colour_odour" name="colour_odour">{{ report.colour_odour }}</textarea>
    </div>

    <div class="form-group">
        <label for="origin">Origin</label>
        <textarea rows="5" class="form-control spilldata" id="origin" name="origin">{{ report.origin }}</textarea>
    </div>

    <div class="form-group">
        <label for="weather">Weather Conditions</label>
        <textarea rows="5" class="form-control spilldata" id="weather" name="weather">{{ report.weather }}</textarea>
    </div>

    <div class="form-group">
        <label for="sitation_additional_info">Additional Information</label>
        <textarea rows="5" class="form-control spilldata" id="sitation_additional_info" 
            name="sitation_additional_info">{{ report.sitation_additional_info }}</textarea>
    </div>

    <div class="form-group">
        <label for="attachments">Attachments</label>
        <input type="file" class="form-control spilldata" 
            id="attachments" name="attachments" multiple="multiple" 
            accept="image/png, image/jpeg, image/tiff, application/pdf, .doc, .docx, application/msword">
    </div>

    <div class="form-group">
        <label for="response_activated">Response Activated</label>
        <select class="form-control spilldata" id="response_activated" name="response_activated">
            <option value="Yes" {% if report.response_activated %} selected {% endif %}>Yes</option>
            <option value="No" {% if not report.response_activated %} selected {% endif %}>No</option>
        </select>
    </div>

    <hr>
    <h4>Vessel Information</h4>

    <div class="form-group">
        <label for="vessel_name">Vessel Name</label>
        <textarea rows="5" class="form-control spilldata" id="vessel_name" 
            name="vessel_name">{{ report.vessel_name }}</textarea>
    </div>

    <div class="form-group">
        <label for="call_sign">Call Sign and MMSI</label>
        <textarea rows="5" class="form-control spilldata" id="call_sign" 
            name="call_sign">{{ report.call_sign }}</textarea>
    </div>

    <div class="form-group">
        <label for="vessel_length">Overall Length (LOA)</label>
        <textarea rows="5" class="form-control spilldata" id="vessel_length" 
            name="vessel_length">{{ report.vessel_length }}</textarea>
    </div>

    <div class="form-group">
        <label for="vessel_type">Vessel Type</label>
        <textarea rows="5" class="form-control spilldata" id="vessel_type" 
            name="vessel_type">{{ report.vessel_type }}</textarea>
    </div>

    <div class="form-group">
        <label for="owner_agent">Owner/Agent/Flag</label>
        <textarea rows="5" class="form-control spilldata" id="owner_agent" 
            name="owner_agent">{{ report.owner_agent }}</textarea>
    </div>

    <div class="form-group">
        <label for="vessel_additional_info">Additional Vessel Information</label>
        <textarea rows="5" class="form-control spilldata" id="vessel_additional_info" 
            name="vessel_additional_info">{{ report.vessel_additional_info }}</textarea>
    </div>

    <hr>
    <h4>Alert List</h4>

    <div class="form-group">
        <label for="ccg_duty_officer">CCG-W ER Duty Officer</label>
        <textarea rows="5" class="form-control spilldata" id="ccg_duty_officer" 
            name="ccg_duty_officer">{{ report.ccg_duty_officer }}</textarea>
    </div>

    <div class="form-group">
        <label for="tc_marine_safety">TC marine Safety - Vancouver</label>
        <textarea rows="5" class="form-control spilldata" id="tc_marine_safety" 
            name="tc_marine_safety">{{ report.tc_marine_safety }}</textarea>
    </div>

    <div class="form-group">
        <label for="vancouver_hm">Vancouver HM</label>
        <textarea rows="5" class="form-control spilldata" id="vancouver_hm" 
            name="vancouver_hm">{{ report.vancouver_hm }}</textarea>
    </div>

    <div class="form-group">
        <label for="area_mcts_centre">Area MCTS Centre</label>
        <textarea rows="5" class="form-control spilldata" id="area_mcts_centre" 
            name="area_mcts_centre">{{ report.area_mcts_centre }}</textarea>
    </div>

    <div class="form-group">
        <label for="dfo_public_affairs">DFO Public Affairs</label>
        <textarea rows="5" class="form-control spilldata" id="dfo_public_affairs" 
            name="dfo_public_affairs">{{ report.dfo_public_affairs }}</textarea>
    </div>

    <div class="form-group">
        <label for="roc_officer">ROC Officer</label>
        <select class="form-control spilldata" id="roc_officer" name="roc_officer">
            {% for officer in lookups.roc_officers %}
            <option value="{{ officer }}" 
                {% if report.roc_officer==officer %} selected {% endif %}
                >{{ officer }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" id="reportSaveBtn" class="btn btn-primary">Save Report</button>

</form>

<!-- Include custom js at end -->
<script type="text/javascript" src="/static/spill_lib.js"></script>
<script type="text/javascript" src="/static/map_preview.js"></script>

</main>

{% endblock content %}
