
{% extends "_base.html" %}
{% block content %}

{% set title = 'Reports - CCG/DFO Spill Tracker' %}

<main id="spillReports" role="main">
<h3>List of Spill Reports</h3>

<div class="row mb-5">
  <div class="col-9">
    The table below shows the most recent version of each report in the database.  
    To view an individual report, click the link in column Report #.  
    To get all data for all reports in Excel format, click the Download All link on the right.
  </div>

  <div class="col-3">
    <a class="btn btn-warning" href="{{ url_for('db_dump') }}">Download All</a>
  </div>
</div>

<table class="table" id="reportTable">
  <thead>
    <tr>
      <th scope="col">Report #</th>
      <th scope="col">Report Name</th>
      <th scope="col">Pollutant</th>
      <th scope="col">Quantity</th>
      <th scope="col">Qty Units</th>
    </tr>
  </thead>
  <tbody>
    {% for report in reports_list %}
    <tr>
        <th scope="row">
            <a href="{{ url_for('show_report', spill_id=report.spill_id) }}">
            <b>{{ report.report_num }}</b></a>
        </th>
        <td>{{ report.report_name}}</td>
        <td>{{ report.pollutant}}</td>
        <td>{{ report.quantity}} </td>
        <td>{{ report.quantity_units}} </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>

{# {% for report in reports_list %}
    <div><a href="{{ url_for('show_report', spill_id=report.spill_id) }}"><b>{{ report.last_updated }}</b></a> 
        {{ report.location_description}} - {{ report.pollutant}}, {{ report.quantity}} 
    </div>
{% endfor %} #}

</main>

{% endblock content %}
