
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    {# Don't set title here, do so only in the templates for specific pages
    {% set title = 'CCG/DFO Spill Tracker' %} #}
    {# <!-- navbar & header here -->
    {% include 'snippets/_header.html' %} #}

    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

    <!-- Global css and js used across all content -->

    <!-- Bootstrap CSS. Note: bootstrap and popper js are in footer -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">

    <!-- jQuery and jQuery UI -->
    <script src="/static/jquery-3.4.1.min.js"></script>

    <!-- Extra imports disabled for now, enable if needed -->
    {# <link rel="stylesheet" href="/static/assets/js/jquery-ui.css">
    <script src="/static/assets/js/jquery-ui.min.js"></script> #}

    <!-- Chosen select box -->
    {# <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script> #}

    <!-- Custom icon, CSS, js common lib -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/spill.css">
    <title>{% block title %}{% endblock %} - CCG/DFO Spill Tracker</title>

    {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CCG/DFO Spill Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSpilltracker" 
            aria-controls="navbarSpilltracker" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-1" id="navbarSpilltracker">
            {# Navbar menu on left side #}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('report.reports_all') }}">View All Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('report.reports_map') }}">Map View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('report.new_report') }}">New Report</a>
                </li>
            </ul>
            
            {# Navbar menu on right side #}
            <ul class="navbar-nav ml-auto">
                {# Show user menu if logged in, otherwise show Login link #}
                {% if user %}
                    {% if is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.admin_page') }}">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.staff_name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="/logout">Logout</a>
                        <a class="dropdown-item" href="/change">Change Password</a>
                        {# <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a> #}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('security.login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>

        </div>
            
    </nav>

</header>

{% block fullpage %}
<div class="container">
<div class="content">

    <div class="text-danger text-center font-weight-bold">PROTOTYPE. Not to be used operationally.</div>

    {% block content %}
    {% endblock content %}

</div>  <!-- content -->
</div>   <!-- container -->
{% endblock fullpage %}

{% block footer %}
{% include 'snippets/_footer.html' %}
{% endblock footer %}
</body>
</html>
