
{% extends "_base.html" %}

{% block fullpage %}

<!-- Leaflet for report map view -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

<main id="spillReports" role="main">

<div id="mapDateRange" class="p-3 rounded">
  
    <button class="btn btn-link p-0" type="button" data-toggle="collapse" 
      id="expandFilters" 
      data-target="#filterSelection" aria-expanded="false" 
      aria-controls="filterSelection">
      <i class="fa fa-angle-right filter-collapse"></i> Filters
    </button>
  
  <div id="filterSelection" class="collapse">
    <form id="mapFilters">
      <div class="form-row ml-2 mr-2">
        <div class="form-group">
            <label for="date_from">Earliest Date</label>
            <input type="date" class="form-control map-filter" id="date_from" name="date_from" value="">
        </div>
        <div class="form-group ml-3">
            <label for="date_to">Latest Date</label>
            <input type="date" class="form-control map-filter" id="date_to" name="date_to" value="">
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" id="applyFilters">Apply</button>
    </form>
  </div>

</div>

{# <div class="container"> #}
  <div class="row" id="report_map_row">
      {# <div class="col-9"> #}
      <div class="col-12 col-md m-0 p-0">
          <div id="report_map_leaflet" class="m-0">
          </div>
      </div>
      
      <div class="col-12 col-md-auto" id="report_map_column">
        <h5 class="text-center mt-2">Latest pollution reports <br>in this area</h5>
        <div id="report_map_samples"></div>
        <div id="loadNextSamples" class="text-center font-weight-bold mb-3"><a href="#" id="loadNextLink">Load More...</a></div>
      </div>
  </div>
{# </div> #}

</main>

<script type="text/javascript" src="/static/spill_lib.js"></script>
<script type="text/javascript" src="/static/reports_mapview.js"></script>

{% endblock fullpage %}

{# Override footer--this was also overriding bootstrap JS and popper imports! #}
{% block footer %}
{% endblock footer %}
