<html>
<head></head>
<body>
  <h2>Pollution Report Update - {{ report_num }}</h2>
  <p>
    The following pollution report was updated:
    <br>
    {{ report_title }} ({{ report_num }})
  </p>
  <p>
    For details, please see the report page: 
    <br>
    <a href="https://marinepollution.ca/report/{{ report_num }}">
      https://marinepollution.ca/report/{{ report_num }}</a>
  </p>
  <p>
    This notification was automatically sent from the DFO/CCG Spill Tracker at https://marinepollution.ca. Do not reply to this message. 
  </p>
</body>
</html>
