
{% extends "_base.html" %}
{# {% block content %} #}

{% block fullpage %}

{% block title %}Map View{% endblock %}

<!-- Leaflet for report map view -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

<main id="spillReports" role="main">
{# <h3>Map View of Spill Reports</h3>

<div class="row mb-2">
  <div class="col-9">
    The map below shows all spill reports in the selected area.  The boxes to the right of the map show a (random) sample of up to 5 spills from this area. 
  </div>
</div> #}

{# <div class="container"> #}
  <div class="row" id="report_map_row">
      {# <div class="col-9"> #}
      <div class="col-12 col-md m-0 p-0">
          <div id="report_map_leaflet" class="m-0"></div>
      </div>
      {# <div class="ol-12 col-md-auto addScroll" id="report_map_samples" style="background: red; width: 300px;"> #}
      <div class="col-12 col-md-auto" id="report_map_column">
        <h5 class="text-center mt-2">Latest pollution reports <br>in this area</h5>
        <div id="report_map_samples"></div>
        <div id="loadNextSamples" class="text-center font-weight-bold mb-3"><a href="#" id="loadNextLink">Load More...</a></div>
        {# <a id="loadNextSamples" class="text-center font-weight-bold mb-3" href="#">Load More...</a> #}
      </div>
  </div>
{# </div> #}

</main>

<script type="text/javascript" src="/static/spill_lib.js"></script>
<script type="text/javascript" src="/static/reports_mapview.js"></script>

{% endblock fullpage %}

{# Override footer #}
{% block footer %}
{% endblock footer %}
